<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marvel Characters</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><a href="/?offset=0" class="marvel-link">Marvel Characters</a></h1>
  <div id="search">
    <form action="/" method="GET">
      <input type="text" name="q" placeholder="Search characters...">
      <button type="submit">Search</button>
    </form>
  </div>
  <% if (searchQuery) { %>
    <div class="search-term">
      Showing results for: <%= searchQuery %>
    </div>
  <% } %>
  <div id="characters">
    <% if (characters.length > 0) { %>
      <% characters.forEach(character => { %>
        <div class="character">
          <h2><%= character.name %></h2>
          <% if (character.description) { %>
            <p><%= character.description %></p>
          <% } else { %>
            <p>No description available.</p>
          <% } %>
          <% if (character.thumbnail) { %>
            <img src="<%= character.thumbnail.path %>/portrait_medium.<%= character.thumbnail.extension %>" alt="<%= character.name %>">
          <% } %>
        </div>
      <% }) %>
    <% } else { %>
      <div class="no-results">
        <p class="no-results-message">No characters found. Please try a different search.</p>
        <p class="suggestions-title">Here are some suggestions:</p>
        <ul class="suggestions-list">
          <li><a href="/?q=Iron%20Man">Iron Man</a></li>
          <li><a href="/?q=Spider-Man">Spider-Man</a></li>
          <li><a href="/?q=Captain%20America">Captain America</a></li>
          <!-- Add more suggestions as needed -->
        </ul>
      </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if (offset > 0) { %>
      <a href="/?q=<%= encodeURIComponent(searchQuery) %>&offset=<%= Math.max(0, offset - 5) %>">Previous</a>
    <% } %>
    <% if (offset + characters.length < totalCharacters) { %>
      <a id="next-page" href="/?q=<%= encodeURIComponent(searchQuery) %>&offset=<%= offset + 5 %>">Next</a>
    <% } %>
  </div>


  <!-- Loading spinner -->
  <div class="loader hidden"></div>
  <script src="/js/script.js"></script>
</body>
</html>